<html>
  <head>
    <h1>Login page</h1>
    <form action="saveData" method="post">
      <input type="text" placeholder="enter youe name" name="name">
<input type="email" placeholder="enter youe email" name="email">
<input type="address" placeholder="enter youe Address" name="Address">
<input type="number" placeholder="enter youe number" name="Number">

      <button type="submit">submit</button>
    </form>
  </head>
</html>